---
import Layout from "../../layouts/Layout.astro";

---
<Layout/>
<h1 class="text-3xl font-bold underline m-t-2 p-11"> about </h1>
<p class="text-3xl  p-10 text-balance">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eveniet sint pariatur eligendi eius ad! Sint perferendis ipsam veritatis molestias voluptatem ex beatae expedita magnam temporibus unde! Non, quos accusantium?20</p>

</Layout>