<header class="fixed z-50 top-0 w-full bg-sky-500">
      <nav class="py-4">
        <div class="container px-4 mx-auto flex items-center justify-between">
          <a href="/" class="text-white font-bold text-2xl">Astro</a>
          <ul class="flex gap-4">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="../about" class="text-white">About</a></li>
        </div>
      </nav>
    </header>